<footer class="site-footer">
  <div class="footer-content">
    <p>&copy; <span id="year"></span> Sleep Outside. All rights reserved.</p>
    <p>
      <a href="/contact/">Contact Us</a> | <a href="/about/">About</a> |
      <a href="/privacy/">Privacy Policy</a>
    </p>
    <div class="socials">
      <a href="#"><img src="/images/icons/facebook.svg" alt="Facebook" /></a>
      <a href="#"><img src="/images/icons/twitter.svg" alt="Twitter" /></a>
      <a href="#"><img src="/images/icons/instagram.svg" alt="Instagram" /></a>
    </div>
  </div>
</footer>
